body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

header {
  background: #ff67c5;
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.container h2 {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  text-align: left;
}

input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #ff67c5;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff67c5;
  transform: scale(1.05);
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
  font-size: 14px;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-central {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 1000px;
}

.imagem-lateral {
  width: 250px;
  height: auto;
  border-radius: 15px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
